################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/001/.vs/001/v17
/002/.vs/002/v17
/002/.vs/002/FileContentIndex
/002/002/x64/Debug
/002/x64/Debug
