################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/001/.vs/001/v17
/002/.vs/002/v17
/002/.vs/002/FileContentIndex
/002/002/x64/Debug
/002/x64/Debug
/003/.vs/003
/003/003/x64/Debug
/003/x64/Debug
/004/.vs/004
/004/004/x64/Debug
/004/x64/Debug
/005/.vs/005
/005/005/x64/Debug
/005/x64/Debug
/006/.vs/006
/006/006/x64/Debug
/006/x64/Debug
