################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/001/.vs/001/v17
